/* .list {
  li {
    position: relative;
    padding-left: 1.25em;
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 0.25em;
      height: 0.25em;
      border-radius: 9999px;
      background-color: currentColor;
      position: absolute;
      inset: 0.8em auto auto 0.5em;
      margin: auto;
    }
  }
} */

html {
  /* scroll-behavior: smooth; */
}

body {
  color: var(--c-ink);
  background: rgb(0 0 0 / 4%);
  line-height: 1.8;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

* {
  line-height: calc(10px + 1.2em);
}

#app {
  overflow-x: hidden;
  @supports (overflow: clip) {
    overflow-x: clip;
  }
}
img {
  width: 100%;
}
.ktc .ktc {
  width: 100%;
}

.prose {
  * + * {
    margin-top: 1em;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.25em;
  }
  ul {
    li {
      position: relative;
      padding-left: 1.25em;
      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 0.25em;
        height: 0.25em;
        border-radius: 9999px;
        background-color: v-bind(cssColorText);
        position: absolute;
        inset: 0.8em auto auto 0.5em;
        margin: auto;
        color: v-bind(cssColor);
      }
    }
  }
}
